$primary-color: rgba(var(--v-theme-primary), 1);

.price-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: inherit;
}

$font-family:
  "Pangea Trial",
  "Inter",
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

html {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
